*/.gradle/*
.vscode
23203_gmerina.iml
out/*
/BrainfuckInterpeter/gradle/*
/BrainfuckInterpeter/build/*
/BrainfuckInterpeter/.gradle/*
/BrainfuckInterpeter/logs/*
BrainfuckInterpeter/*
Game2D/.idea/*
Game2D/.mvn/*
Game2D/logs/*
Game2D/system/*
Game2D/target/*
.gitignore

